#questiondisplay {
    height: 150pt;
}

#colourdisplay{
    background-color: black;
    height: 270pt;
}

#taskbar{
    background-color: coral;
    height: 25pt;
}

#NewColor{
    background-color: white;
    height: 25pt;
    position: relative;
    left: 150pt;
}

#Easy{
    background-color: white;
    height: 25pt;
    position: relative;
    left: 300pt;
}

#Hard{
    background-color: white;
    height: 25pt;
    position: relative;
    left: 450pt;
}


.heading{
    text-align: center;
}

.text{
    text-align: center;
}

#Color1{
    height: 100pt;
    width: 100pt;
    background-color: black;
}

#Color2{
    height: 100pt;
    width: 100pt;
    background-color: black;
}

#Color3{
    height: 100pt;
    width: 100pt;
    background-color: black;
}

#Color4{
    height: 100pt;
    width: 100pt;
    background-color: black;
}

#Color5{
    height: 100pt;
    width: 100pt;
    background-color: black;
}

#Color6{
    height: 100pt;
    width: 100pt;
    background-color: black;
}